.dashboard-container {
  display: flex;
  height: 100vh;
}

.employee-nav {
  width: 200px;
  background-color: #f4f4f4;
  /* border-right: 1px solid #ccc; */
  /* position: fixed; */
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  z-index: 10;
  float:left;
}

.employee-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-direction: column;
  font-weight: bold;
  background-color: rgba(181, 177, 177, 0.574);
}

.employee-nav li {
padding: 10px 20px;
  cursor: pointer;
  color: teal;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.employee-nav li:hover {
  background-color: #5553537f;
  color: #000;
}

.employee-nav li.active:hover {
  background-color: #55535394;
  color: rgb(62, 71, 71);
}

.employee-nav li.active {
  width: 200px;
  /* height: 100vh; */
  font-weight: bold;
  /* position: fixed; */
  left: 0;
  margin: 0;
}

.manager-content {
  margin: 0;
  padding: 0;
  background: white;
}

.main-content.manager-content {
  /* margin-left: 200px; Offset to account for the sidebar */
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border:#000;

}

.tabs {
  display: flex;
  background-color: #e9e9e9;
  border-bottom: 1px solid #ccc;
}

.tabs button {
  background: none;
  border: none;
  padding: 15px 20px;
  cursor: pointer;
}

.tabs button.active {
  border-bottom: 2px solid #007bff;
  font-weight: bold;
}

.content-area {
  padding: 20px;
}
