@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
/* Box-Sizing Fix: */
  /* https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Setting up Color Variables */
:root {
  --primary-color: 99, 55, 97;
  --accent-color: 206, 179, 36;
  --link-color: 28, 164, 198;
  --body-font: "Quicksand"
}

/* Remove Margin/Padding: */
html, body {
  margin: 0;
  padding: 0;
}

/* Typography: */
body {
  font-family: var(--body-font);
  background-color: #f0f0f0;
  color: rgba(0, 0, 0, 0.75);
}

.message-error {
  color: red;
}

/* Basic Header/Main/Footer Flexbox Layout: */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#root > * {
  padding: 0 20px
}

main {
  flex-grow: 1;
  margin: 20px;
}

header, footer {
  display: flex;
  flex-basis: 6em;
  align-items: center;
  justify-content: space-between;
}

/* Nav Styles: */
header {
  background: white;
  margin-bottom: 20px;

  .header-logo {
    height: 50px;
    margin: 20px;
  }
}

nav ul {
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav a {
  color: rgba( var(--link-color), 1);
  text-decoration: none;
}

nav a.active {
  color: rgba( var(--link-color), 1);
  font-weight: bold;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  transition: 0.7s;
}

/* Form Styles: */
label {
  display: block;
  margin-bottom: 5px;
}

input {
  display: block;
  padding: 5px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.75);
  margin-bottom: 10px;
}

input:focus {
  outline: none;
  box-shadow: 0 0 3px 1px #20c997;
  transition: 0.7s;
}

button {
  padding: 5px;
  margin-top: 10px;
}

button:hover, button:focus {
  outline-color: transparent;
  outline-style:solid;
  box-shadow: 0 0 3px 1px #20c997;
  transition: 0.7s;
}

/* Fun Squiggle Underline Style: */
.squiggle {
  text-decoration: wavy underline;
  text-decoration-color: #20c997;
  text-decoration-thickness: 2px;
}
.container-manager-dashboard {
  position: relative;
}